<!-- Page header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <object type="image/svg+xml" data="./assets/img/logo_aqu.svg" size="4" height="24"></object>
    </ion-buttons>
    <ion-title>Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row padding>
        <ion-col align-self-center size="2">
          <ion-icon name="key"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-card-subtitle>Sensor ID</ion-card-subtitle>
          <ion-card-title>S-A-144</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col align-self-center size="2">
          <ion-icon name="cloud-done"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-card-subtitle>Status</ion-card-subtitle>
          <ion-card-title>Online</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col align-self-center size="2">
          <ion-icon name="water" size="1"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-card-subtitle>Humidity</ion-card-subtitle>
          <ion-card-title>30%</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col align-self-center size="2">
          <ion-icon name="thermometer" size="1"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-card-subtitle>Temperature</ion-card-subtitle>
          <ion-card-title>35 &deg;F</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col align-self-center size="2">
          <ion-icon name="pulse"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-card-subtitle>Current Reading</ion-card-subtitle>
          <ion-card-title>67</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
