<ion-header>
  <ion-toolbar>
    <ion-title>Pair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <ion-icon name="phone-portrait"></ion-icon>
      <ion-icon name="code-working"></ion-icon>
      <ion-icon name="pulse"></ion-icon>
    </ion-col>
  </ion-row>
  
    <ion-label floating>Sensor ID Number</ion-label>
      <ion-item rounded>
        <ion-input placeholder="sensor ID" [(ngModel)]="sensorID" type="text"></ion-input>
      </ion-item>
      <ion-button shape="round" expand="full" color="primary" type="submit" (click)="onSubmitID()" block>Pair</ion-button>


</ion-content>
