app-data {

   .chart-wrapper {
      width: 25%;
      display: inline-block;
      margin: 1em 2em;
   }

   canvas  {
      height: 500px;
   }

    
}

ion-icon {
    font-size: 32px;
    }

    ion-card-subtitle {
    font-size: 16px;
    }

    ion-card-title {
    font-size: 22px;
    }

